                /* Google Fonts */
                
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: rgb(20, 20, 20);
    color: white;

}

.container{
    width: 690px;
    background-color: rgb(44, 44, 44);
    border-radius: 15px;
    padding: 30px;
    color: white;
}

.wrapper{
    border-radius: 5px;
    border: 3px solid rgb(245, 242, 242);
}

.wrapper .text-input{
    display: flex;
    border-bottom: 3px solid rgb(245, 242, 242);
}

.text-input .to-text{
    border-radius: 0px;
    border-left: 3px solid rgb(245, 242, 242);

}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: 1px solid white;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    resize: none;
}

textarea::placeholder{
    color: rgb(190, 182, 182);
}

textarea{
    color: white;
}
.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls .row.from .icons{
    padding-right: 15px;
    border-right: 3px solid rgb(245, 242, 242);

}


.controls .row.to .icons{
    padding-left: 15px;
    border-left: 3px solid rgb(245, 242, 242);

}

.controls{
    
    padding: 12px 15px;
    list-style: none;
}


.controls .icons{
    width: 38%;
}
.controls .icons i{
    color: #f8e9e9;
    font-size: 14px;
    width: 50px;
    cursor: pointer;
    justify-content: center;
}

.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

.controls .exchange{
    color: #f0e7e7;
    font-size: 16px;
    cursor: pointer;
}

.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1d3dbb;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
i, button{
    transition: .3s;
}
i:active, button:active{
    transform: scale(.81);
    
}
.icons i:active, .exchange i:active{
    color: rgb(65, 198, 231);

}

select{
    color: white;
    background-color: rgb(44, 44, 44);
}
option{
    background-color: rgb(44, 44, 44);
}


@media screen and (min-width){
    
}